<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <listeners>
     <listener class-name="org.uncommons.reportng.HTMLReporter"/>
     <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
  <test name="Test">
    <classes>
		<class name = "selenium_test.MainPageTest"/>    	
		<class name = "selenium_test.SignupPageTest"/>
		<class name = "selenium_test.SignInPageTest"/>
		<class name = "selenium_test.HomePageTest"/>
		<class name = "selenium_test.FilePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
